.wrapper{
  display: flex;
}
.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.create_room a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.create_room{
    font-size: 10px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room_name a{
  text-decoration: none;
  color: white;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_header{
  height: 100px;
  padding: 0 40px;
}

.messages{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}