.wrapper{
  display: flex;
}
.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.create_room a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.create_room{
    font-size: 10px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room_name a{
  text-decoration: none;
  color: white;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header_title{
  color: #333;
  font-size: 24px;
  margin-top: 36px; 
}

.header_button{
  margin-top: 40px;
}

.header_button a{
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}


.messages{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user{
  font-size: 16px;
  color: #434a54
}

.message-date{
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}